#Visual Studio

.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.hint

#Projects

SandBox/
Game/


#Directives

vendor/
ProEngine/vendor/
**.psd

bin/
bin-int/
ProCircuit/

#Files

*.user

